<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>


<body class="bg-gradient-primary">
    <ng-template #loggedOut>
        <div class="container my-5">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card animate__animated animate__pulse">
                        <div class="card o-hidden border-0 shadow-lg">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-color: lightblue; border-right: 2px solid #ccc;"></div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                            </div>
                                            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Usuario " name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control form-control-user" placeholder="Contraseña" name="password" id="password" [(ngModel)]="password" required>
                                                </div>

                                                <div class="form-group">
                                                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                                                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                                                </div>
                                                <hr>

                                            </form>


                                            <div class="text-center">
                                                <a class="small" routerLink="/registro">Crear Cuenta</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</body>